@import "../vars";

.about {
  background-color: $main;
  margin: 0 auto;
  padding: 0 1em;

  &__title {
    font-family: $main-font;
    font-weight: 700;
    font-size: 1.5em;
    color: $darkest;
  }

  &__description {
    font-family: $main-font;
    font-weight: 400;
    font-size: 1em;
    color: $darkest;

    & a {
      text-decoration: none;
      color: $darker;
    }
  }
}
