@import "../vars";

.about {
  background-color: $lightest;
  margin: 0 auto;
  padding: 0 1em;

  &__title {
    font-family: $main-font;
    font-weight: 700;
    font-size: 1.5em;
    color: $darkest;
    margin-top: 0 auto;
    padding-top: 15px;
    text-align: center;
  }

  &__description {
    font-family: $main-font;
    font-weight: 400;
    font-size: 1em;
    color: $darkest;
    margin-bottom: 0;
    padding-bottom: 15px;
    text-align: initial;
  }
}
