@import "../vars";

.header {
  &__container {
    background-image: linear-gradient(
        rgba(242, 217, 203, 0.7),
        rgba(242, 217, 203, 0.7)
      ),
      url(../../images/bg.png);
    background-position: cover;
    background-repeat: no-repeat;
  }

  &__inner {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 1em 0;
  }

  &__logo {
    max-width: 70%;
    height: auto;
    text-align: center;

    &__link {
      display: inline-block;
      padding: 1em;
      text-decoration: none;
      color: $main;
      font-size: 2em;
      text-transform: uppercase;
    }
  }

  &__nav {
    width: 100%;
    height: auto;
    margin: left auto;
    display: flex;
    padding: 1em 0;
    color: $lightest;
    font-family: $main-font;
    align-items: center;
  }

  .menu-toggler {
    background-color: $menu-toggler-color;
    margin-left: auto;
    cursor: pointer;
    border-radius: 0.25em;
  }

  .menu {
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;

    &__link {
      text-decoration: none;
      display: block;
      padding: 0.8em 0;
      color: $main;
      text-align: center;
      border-bottom: 1px dotted $main;
    }
  }

  /*.js-menu-show {

  }*/
}
