@import "../vars";

.projects {
  padding: 15px;

  &__logo-title {
    text-align: center;
    margin: 0 auto;
    font-weight: 750;
  }

  &__title {
    font-family: $main-font;
    font-weight: 550;
    font-size: 1.5em;
    color: $darkest;
    margin-top: 0;
  }

  &__img-container {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr 1fr;
    grid-column-gap: 2px;
    grid-row-gap: 5px;
    padding: 5px;
    margin: 0 auto;
  }
}

.grid1 {
  grid-row: 1/ 3;
}

.grid2 {
  grid-row: 1/ 4;
}

.grid3 {
  grid-row: 3/ 5;
}

.grid4 {
  grid-row: 4/ 5;
}
