@import "../vars";

.skills {
  background-color: $secondary;
  padding-top: 15px;

  &__chart {
    margin: 0 auto;
    padding: 2em;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px 20px;
    grid-auto-flow: row;
    grid-template-areas:
      "Profile Profile-description"
      "Frontend Indicator-frontend"
      "Tools html-css"
      "UI-design Indicator-UI-design"
      "tools2 Adobe";

    &__skills-title {
      color: $darkest;
    }

    &__description {
      display: inline-block;
    }

    &__list-title {
      width: 30%;
      height: auto;
    }
  }

  .skills__img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 15px;
  }
}
.Profile,
.Frontend,
.tools,
.tools2,
.UI-design {
  font-weight: 700;
}

h2 {
  text-align: center;
}
